<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-background  form-logged-out">
        <h2 class="headline">Welcome!</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="names">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "first_name" }, class: "first-name"%>
              <%= f.input :last_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "last_name" }%>
            </div>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :community_id, input_html: {:value => params[:community]}, as: :hidden %>
          </div>
          <div class="center-action">
            <div class="form-actions">
              <%= f.button :submit, "Create account", class: "btn btn-primary btn-shadow" %>
            </div>
            <p class="date-time-small">By clicking the button above you agree to our Privacy Policy and our Terms of Service.</p>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
