<div class="modal-right">
  <div class="chat-header">
    <h4>Got any comment?</h4>
    <button type="button" class="btn btn-default" data-dismiss="modal">x</button>
  </div>
  <div id="messages" class="chat-body overflow-auto">
    <% card.comments.each do |comment| %>
      <div class="messages-container" id="message-<%= comment.id %>">
        <i class="author">
          <span><%= comment.user.first_name.capitalize %> <%= card.user.last_name.capitalize %></span>
          <small><%= comment.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= comment.content %></p>
      </div>
    <% end %>
  </div>
  <div class="input-field chat-input-field-group">
    <%= simple_form_for [ card, @comment ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Enter your message here!", class: "chat-input-field" %>
      <%= f.submit "Send", class: "btn btn-primary btn-shadow btn-chat" %>
    <% end %>
  </div>

</div>
