<div class="chat-bubble">
  <!-- USER AVATAR -->
  <% if comment.user.profile.avatar.attached? %>
    <%= image_tag comment.user.profile.avatar, class: "avatar-small" %>
  <% else  %>
    <%= chat_avatar_for(comment.user.profile) %>
  <% end %>
  <!-- COMMENT CONTENT -->
  <div class="messages-container" id="message-<%= comment.id %>">
    <div class="author">
      <p class="text-small"><%= comment.user.first_name.capitalize %> <%= comment.user.last_name.capitalize %></p>
      <p class="date-time-small"><%= comment.created_at.strftime("%b %e at %l:%M%p") %></p>
    </div>
    <p><%= comment.content %></p>
  </div>
</div>
