<!-- A vertical navbar -->
<!-- <nav class="list-group"> -->
<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-vertical">
  <ul class="nav flex-column nav-vertical">


      <li class="nav-item">
        <%= link_to cards_path do%>
          <h1 id="nav-logo-short">n</h1>
        <% end %>
      </li>
      <div class="navbar-icons">
      <!-- BOARD LINKS -->
      <li class="nav-item">
        <div class="boards">
        <!-- missed -->

          <div class="board-icon">
            <div class="icon-box">
              <%= link_to cards_path(query: "missed") do %>
                <%= image_tag "ic-board_missed.svg", class: "nav-icon" %>
              <% end %>
            </div>
          </div>
      </li>

        <!-- parcels -->
      <li class="nav-item">
          <div class="board-icon">
            <div class="icon-box">
              <%= link_to cards_path(query: "parcels") do %>
                <%= image_tag "ic-board_parcels.svg", class: "nav-icon" %>
              <% end %>
            </div>
          </div>
      </li>

        <!-- mutual help -->

      <li class="nav-item">
          <div class="board-icon">
            <div class="icon-box">
              <%= link_to cards_path(query: "mutual-help") do %>
                <%= image_tag "ic-board_mutual-help.svg", class: "nav-icon" %>
              <% end %>
            </div>
          </div>
      </li>

        <!-- community -->

        <li class="nav-item">
            <div class="board-icon">

              <div class="icon-box">
                <%= link_to cards_path(query: "community") do %>
                  <%= image_tag "ic-board_community.svg", class: "nav-icon" %>
                <% end %>
              </div>
            </div>

            </div>
        </li>
    </div>

    <li class="nav-item">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>

    <li class="nav-item">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>

              <li class="nav-item dropdown">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                  <%= link_to "My cards", cards_path(query: "my-cards"), class: "dropdown-item" %>
                  <%= link_to "My profile", "#", class: "dropdown-item" %>
                  <%= link_to "Settings", "#", class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>

          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </li>

  </ul>
</nav>

