<div class="navbar navbar-expand-sm navbar-lewagon navbar-horizontal nav-transparent fixed <%= 'navbar-margin-top' if controller_name == 'registrations' || controller_name == 'sessions' %>" id="nav">

  <!-- HOME link via 'neighbors' if logged out to home, if logged-in, to dashboard -->
  <%= link_to user_signed_in? ? cards_path(query: "missed") : root_path, class: "navbar-brand" do %>
   <h1 class="nav-logo-long <%= 'nav-logo-grey' if controller_name == 'registrations' || controller_name == 'sessions' || controller_name == 'communities' %>">neighbors.</h1>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item d-flex" >
        <% if !user_signed_in? %>
          <% if current_page?(root_path) %>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-secondary-white btn-medium btn-login" %>
            <%= link_to "Sign Up", search_communities_path, class: "btn btn-primary btn-medium" %>
          <% elsif current_page?(communities_path) || current_page?(search_communities_path) || current_page?(new_profile_path) || current_page?(new_user_registration_path) %>
            <div class="nav-log">
            <p class="description-card">Got an account?</p>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-secondary btn-medium btn-login" %>
          </div>
          <% else %>
            <div class="nav-log">
              <p class="description-card">No account, yet?</p>
              <%= link_to "Sign Up", search_communities_path, class: "btn btn-secondary btn-medium" %>
            </div>
          <% end %>
        <% else %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-medium"%>
        <% end %>
      </li>
    </ul>
  </div>
</div>

