<!-- HERE BANNER -->
<div class="home-banner">
  <div class="home-container">
    <h1 class="headline">Build a community inside your house</h1>
    <p class="sub-header">We need this to look if there's an existing community or if you'd be the founder!</p>
    <%= form_tag communities_path,  class: "search", method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", id: "address_input", placeholder: "Enter your address", required: true %>
      <%= submit_tag "Find community", class: "btn btn-primary btn-shadow" %>
    <% end %>
  </div>
</div>

<!-- HERE CONTAINER WITH CARDS -->
<div class="home-container how">
   <h2 class="headline">How it works</h2>
   <!-- HERE CARDS -->
   <div class="cards-home">
     <div class="card-home">
      <%= link_to cards_path(query: "parcels") do %>
        <%= image_tag "illu-parcels.svg", class: "home-illu" %>
      <% end %>
      <div class="card-info">
        <h3>Parcels</h3>
        <p>Find out where your parcels are and when you can pick them up</p>
      </div>
    </div>
    <div class="card-home">
      <%= link_to cards_path(query: "mutual-help") do %>
        <%= image_tag "illu-mutual-help.svg", class: "home-illu" %>
      <% end %>
      <div class="card-info">
        <h3>Mutual help</h3>
        <p>Share infos, ask questions, post requests and help each other out</p>
      </div>
    </div>
    <div class="card-home">
      <%= link_to cards_path(query: "community") do %>
        <%= image_tag "illu-community.svg", class: "home-illu" %>
      <% end %>
      <div class="card-info">
        <h3>Community</h3>
        <p>Plan mutual activities and get to know your neigbors</p>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER ONLY ON THIS PAGE!! -->
<div class="footer-home">
  <div class="footer-container">
    <div class="copyright">
      <h2 class="neighbors-footer">neighbors.</h2>
      <p class="footer-info">Copyright Neighbors GmbH 2021</p>
      <p class="footer-info">All rights reserved </p>
    </div>

    <div class="footer-column">
      <h3>Company 🧞</h3>
      <p class="footer-link">About us</p>
      <p class="footer-link">FAQ</p>
      <p class="footer-link">Careers</p>
      <p class="footer-link">Blog</p>
      <p class="footer-link">Contact us</p>
    </div>

    <div class="footer-column">
      <h3>Legal 🗃</h3>
      <p class="footer-link">Legal notice</p>
      <p class="footer-link">Terms of Service</p>
      <p class="footer-link">Privacy policy</p>
    </div>

    <div class="footer-column">
      <h3>Follow us 🚶</h3>
      <div class="links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
