<div id="new-card" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content card-modal">
    <!-- PARTIAL FOR CARD EDIT -->

          <div class="modal-body overflow-auto form-background">
            <%= simple_form_for card  do |f| %>
              <h1>Add a card</h1>
                <%= f.input :board,
                  collection: [['Parcels ðŸ“¦', Card::CARD_BOARDS[0]], ['Mutual Help ðŸ¤', Card::CARD_BOARDS[1]], ['Community ðŸ  ', Card::CARD_BOARDS[2]]],
                  as: :radio_buttons,
                  input_html: { class: "input_board" },
                  item_wrapper_class: 'board-item',
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'board-wrapper' %>
                <div class="input-box">
                  <%= f.input :category,
                    collection: Card::CARD_CATEGORIES,
                    as: :radio_buttons,
                    input_html: { class: "input_category" },
                    item_wrapper_class: 'category-item' %>
                </div>
                <%= f.association :users,
                  collection: User.where.not(id: current_user.id),
                  as: :check_boxes,
                  multiple: true,
                  include_hidden: false,
                  label_method: :last_name,
                  label: "Who is this card for?",
                  input_html: { class: "input_users" } %>
                <div class="input_dates">
                  <%= f.input :start_date,
                    as: :string, required:
                    false, input_html: {class: "datepicker"} %>
                  <%= f.input :end_date,
                    as: :string, required:
                    false,
                    input_html: {class: "datepicker"} %>
                </div>
                <div class="input_times">
                  <%= f.input :start_time %>
                  <%= f.input :end_time %>
                </div>
                <%= f.input :title %>
                <%= f.input :description %>
                <%= f.input :pictures, as: :file, multiple: true %>
              <div class="form-actions">
                <%= f.submit "Save Card", class: "btn btn-primary btn-shadow"%>
              </div>
            <% end %>
          </div>
      <!-- </div> -->
    <!-- </div> -->
    </div>
  </div>
</div>
