<div id="myModal<%= card.id %>" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content card-modal">
      <div class="modal-left">
        <div class="card-content-show">
          <div class="card-upper-content">
            <div class="card-top">
              <p class="category <%= card.category %>"><%= card.category %></p>
              <div class="time-menu">
                <p class="date-time">
                  <% if card.created_at == Date.today %>
                    Today, <%= card.created_at.strftime("%l:%M %p") %>
                  <% elsif card.created_at == Date.yesterday %>
                    Yesterday, <%= card.created_at.strftime("%l:%M %p") %>
                  <% elsif (card.created_at > Date.today - 7) && (card.created_at < Date.yesterday) %>
                    <%= card.created_at.strftime("%A, %l:%M %p") %>
                  <% else %>
                    <%= card.created_at.strftime("%B %m, %l:%M %p") %>
                  <% end %>
                </p>
                <% if current_user == card.user %>
                  <%= image_tag "ic-menu.svg", class: "icon-menu", data: { card_id: card.id }, id: "menu-icon" %>
                <% end %>
              </div>
            </div>
            <div class="card-middle">
              <p class="from-who"><%= card.user.first_name %> <%= card.user.last_name %>, <%= card.user.profile.floor %></p>
              <p class="title"><%= card.title %></p>
            </div>
              <p class="date-time">
                <% if card.start_date || card.end_date || card.start_time || card.end_time %>
                  <% time_date = [card.start_date, card.end_date, card.start_time, card.end_time] %>
                  When:
                  <% time_date.each do |item| %>
                    <% if item %>
                      <% if item == card.start_date %>
                        <%= item %>
                      <% elsif item == card.end_date && card.end_date != card.start_date %>
                        - <%= item %>
                      <% elsif item == card.start_time %>
                        , <%= item %>
                      <% elsif item == card.end_time %>
                        - <%= item %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end%>
              </p>
            <p class="card-description description-card"><%= card.description %></p>
            <%# card.pictures.each do |picture| %>
              <%#= image_tag picture, class: "card-photos" %>
            <%# end %>
          </div>
          <div class="card-lower-content">
            <div class="card-avatars">
              <% card.users.each do |recipient| %>
                <div class="card-index-avatars">
                  <%= image_tag recipient.profile.avatar, class: "avatar-small" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- HERE STARTS COMMENT SECTION -->
      <%= render "comments/chat", card: card %>
    </div>

  </div>
</div>

