<div class="container-dashboard">
  <div class="top">
    <div class="dashboard-headings">
      <p>Welcome back, <%= current_user.first_name.capitalize %></p>
      <h1><%= @title %></h1>
    </div>
    <div class="my-cards-tabs">
      <!-- if view is my-cards -->
      <% if current_page?(cards_path(query: "my-cards")) %>
      <div class="primary-link"><%= link_to "Show all", cards_path(query: "my-cards") %></div>
      <div class="secondary-link"><%= link_to "Show archived", cards_path(query: "my-cards-archived") %></div>
      <!-- if view is my-cards-archived -->
      <% elsif current_page?(cards_path(query: "my-cards-archived")) %>
      <div class="secondary-link"><%= link_to "Show all", cards_path(query: "my-cards") %></div>
      <div class="primary-link"><%= link_to "Show archived", cards_path(query: "my-cards-archived") %></div>
      <% end %>
    </div>
    <div id="neighbors">
      <% current_user.community.users.each do |user| %>
        <% if user.profile.avatar.attached? %>
          <%= image_tag user.profile.avatar, class: "avatar-big" %>
        <% else  %>
          <%= index_avatar_for(user.profile) %>
        <% end %>
      <% end %>
    </div>
    <div id="neighbors-index" class="display-none">
      <div class="neighbors-top">
        <div>
          <p class="title">Your community</p>
          <p class="from-who"><%= pluralize(current_user.community.users.count, "member") %></p>
        </div>
        <%= image_tag "ic-close.svg", id: "ic-close" %>
      </div>
      <% current_user.community.users.each do |user| %>
        <%= link_to profile_path(user.profile), class:"neighbor" do %>
          <% if user.profile.avatar.attached? %>
            <%= image_tag user.profile.avatar, class: "avatar-small-list" %>
          <% else %>
            <%= list_avatar_for(user.profile) %>
          <% end %>
          <p class="description-card"><%= user.first_name %> <%= user.last_name %>, <%= user.profile.floor %></p>
        <% end %>
      <% end %>
    </div>

    <button type="button" class="btn-plus btn-shadow add" data-toggle="modal" data-target="#new-card"><%= image_tag "ic_plus-big.svg" %></button>
  </div>

  <!-- DISPLAY CARDS -->
  <% if @cards %>
    <div class="cards">
      <% @cards.each do |card| %>
      <!-- MODAL LINK STARTS HERE -->
        <button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#myModal<%= card.id %>">
          <!-- CARD CONTENT STARTS HERE -->
          <div class="custom-card">
            <div class="card-content">
              <div class="card-upper-content">
                <div class="card-top">
                  <p class="category <%= card.category %>"><%= card.category %></p>
                  <div class="time-menu">
                    <p class="date-time">
                      <% if card.created_at.strftime("%e %m %y") == Date.today.strftime("%e %m %y")%>
                        Today, <%= card.created_at.strftime("%l:%M %p") %>
                      <% elsif card.created_at.strftime("%e %m %y") == Date.yesterday.strftime("%e %m %y") %>
                        Yesterday, <%= card.created_at.strftime("%l:%M %p") %>
                      <% elsif (card.created_at.strftime("%e %m %y") > Date.today.strftime("%e %m %y") - 7) && (card.created_at.strftime("%e %m %y") < Date.yesterday.strftime("%e %m %y")) %>
                        <%= card.created_at.strftime("%A, %l:%M %p") %>
                      <% else %>
                        <%= card.created_at.strftime("%B, %l:%M %p") %>
                      <% end %>
                    </p>
                  </div>
                </div>
                <div class="card-middle">
                  <p class="from-who"><%= card.user.first_name %> <%= card.user.last_name %>, <%= card.user.profile.floor %></p>
                  <p class="title"><%= card.title %></p>
                </div>
                <p class="date-time">
                  <% if card.start_date.present? || card.end_date.present? || card.start_time.present? || card.end_time.present? %>
                        When:
                    <% if card.start_date %>
                      <%= card.start_date %>
                    <% end %>
                    <% if card.end_date %>
                      - <%= card.end_date %>
                    <% end %>
                    <% if card.start_time %>
                      <% if card.start_date %>
                        ,
                      <% end %>
                      <%= card.start_time %>
                    <% end %>
                    <% if card.end_time %>
                      - <%= card.end_time %>
                    <% end %>
                  <% end %>
                </p>
                <p class="card-description description-card"><%= truncate(card.description,  :length => 82) %></p>
              </div>
              <div class="card-lower-content">
                <div class="card-avatars">
                  <% card.users.each do |recipient| %>
                    <!-- <div class="card-index-avatars"> -->
                      <div class="pairs">
                        <% if recipient.profile.avatar.attached? %>
                          <%= image_tag recipient.profile.avatar, class: "avatar-small" %>
                        <% else  %>
                          <%= avatar_for(recipient.profile) %>
                        <% end %>
                        <div class="hidden-name"><%= recipient.first_name %> <%= recipient.last_name %></div>
                      </div>
                    <!-- </div> -->
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </button>
        <!-- RENDERING SHOW -->
        <%= render 'show', :card => card, empty_comment: @empty_comment %>
      <% end %>
    </div>
  <% else %>
    <%= image_tag "illu-dashboard_empty-state.svg", class: "empty-state" %>
    <p class="title">Nothing to see here, yet! Add a card now</p>
  <% end %>
</div>

<!-- RENDERING NEW -->

<%= render "form", card: @empty_card %>
