<div class="container-dashboard">
  <div class="top">
    <div class="dashboard-headings">
      <p>Welcome back, <%= current_user.first_name.capitalize %></p>
      <h1><%= @title %></h1>
    </div>
    <div class="my-cards-tabs">
      <!-- if view is my-cards -->
      <% if current_page?(cards_path(query: "my-cards")) %>
      <div class="primary-link"><%= link_to "Show all", cards_path(query: "my-cards") %></div>
      <div class="secondary-link"><%= link_to "Show archived", cards_path(query: "my-cards-archived") %></div>
      <!-- if view is my-cards-archived -->
      <% elsif current_page?(cards_path(query: "my-cards-archived")) %>
      <div class="secondary-link"><%= link_to "Show all", cards_path(query: "my-cards") %></div>
      <div class="primary-link"><%= link_to "Show archived", cards_path(query: "my-cards-archived") %></div>
      <% end %>
    </div>
    <div id="neighbors">
      <% current_user.community.users.each do |user| %>
        <%= image_tag user.profile.avatar, class: "avatar-big" %>
      <% end %>
    </div>
    <div id="neighbors-index" class="display-none">
      <div class="neighbors-top">
        <div>
          <p class="title">Your community</p>
          <p class="from-who">6 members</p>
        </div>
        <%= image_tag "ic-close.svg", id: "ic-close" %>
      </div>
      <% current_user.community.users.each do |user| %>
        <%= link_to profile_path(user.profile), class:"neighbor" do %>
          <%= image_tag user.profile.avatar, class: "avatar-small-list" %>
          <p class="description-card"><%= user.first_name %> <%= user.last_name %>, <%= user.profile.floor %></p>
        <% end %>
      <% end %>
    </div>


    <%= link_to "Add card", cards_path(query: "new"), class: "btn btn-primary btn-shadow add" %>
  </div>

  <!-- DISPLAY CARDS -->
  <% if @cards %>
    <div class="cards">
      <% @cards.each do |card| %>
      <!-- MODAL LINK STARTS HERE -->
        <button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#myModal<%= card.id %>">
          <!-- CARD CONTENT STARTS HERE -->
          <div class="custom-card">
            <div class="card-content">
              <div class="card-upper-content">
                <div class="card-top">
                  <p class="category <%= card.category %>"><%= card.category %></p>
                  <div class="time-menu">
                    <p class="date-time">
                      <% if card.created_at == Date.today %>
                        Today, <%= card.created_at.strftime("%l:%M %p") %>
                      <% elsif card.created_at == Date.yesterday %>
                        Yesterday, <%= card.created_at.strftime("%l:%M %p") %>
                      <% elsif (card.created_at > Date.today - 7) && (card.created_at < Date.yesterday) %>
                        <%= card.created_at.strftime("%A, %l:%M %p") %>
                      <% else %>
                        <%= card.created_at.strftime("%B %m, %l:%M %p") %>
                      <% end %>
                    </p>
                    <% if current_user == card.user %>
                      <%= image_tag "ic-menu.svg", class: "icon-menu", data: { card_id: card.id }, id: "menu-icon" %>
                    <% end %>
                  </div>
                </div>
                <div class="card-middle">
                  <p class="from-who"><%= card.user.first_name %> <%= card.user.last_name %>, <%= card.user.profile.floor %></p>
                  <p class="title"><%= card.title %></p>
                </div>
                <p class="date-time">When: <%= card.start_date%>, <%= card.start_time%>
                  <% if card.end_date && card.end_time %>
                    to <%= card.end_date%>, <%= card.end_time%>
                  <% elsif card.end_date %>
                    to <%= card.end_date%>
                  <% elsif card.end_time %>
                    to <%= card.end_time%>
                  <% end %>
                </p>
                <p class="card-description description-card"><%= truncate(card.description,  :length => 82) %></p>
              </div>
              <div class="card-lower-content">
                <div class="card-avatars">
                  <% card.users.each do |recipient| %>
                    <div class="card-index-avatars">
                      <%= image_tag recipient.profile.avatar, class: "avatar-small" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% if current_user == card.user %>
            <div class='<%= "toggle-id-#{card.id} card-actions display-menu" %>'>
              <div class="link-wrapper">

                <div class="hover-link edit">
                  <%= link_to edit_card_path(card), class: "actual-link" do %>
                    <%= image_tag "ic-edit.svg", class: "icon-hover-menu" %>
                    <p class="hover-menu-text">Edit</p>
                  <% end %>
                </div>

                <div class="hover-link archive">
                  <%= link_to cards_path, class: "actual-link" do %>
                    <%= image_tag "ic-archive.svg", class: "icon-hover-menu" %>
                    <p class="hover-menu-text">Archive</p>
                  <% end %>
                </div>

              </div>
            </div>
          <% end %>
        </button>
        <!-- RENDERING SHOW -->
        <%= render 'show', :card => card %>
      <% end %>
    </div>
  <% else %>
    <%= image_tag "illu-dashboard_empty-state.svg", class: "empty-state" %>
    <p class="title">Nothing to see here, yet! Add a card now</p>
  <% end %>
</div>

