<div class="container">

  <% if !@community.empty? %>
    <div class="left-text">
      <h1>Yay! There's a community in your house already 🎉</h1>
      <p>Come, join your neighbors now!</p>
      <% if  !current_user %>
        <%= link_to "Create account", new_user_registration_path(community: @community[0]) %>
      <% end %>
      <p>Add number of neighbors</p>
    </div>
    <div class="map-container">
      <div id="map"
        style="width: auto; height: 450px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% elsif @community.empty? %>
    <div class="left-text">
      <h1>There's no community in your house yet 😯</h1>
      <p>Start a community now!</p>
      <% if  !current_user %>
        <%= link_to "Create account", community_path(address: params[:query]), :method => :post %>
      <% end %>
      <p>Add number of neighbors</p>
    </div>
    <div class="map-container">
      <div id="map"
        style="width: auto; height: 450px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% end %>
</div>
